<section class="contain">
<hgroup>
    <h2 class="apropos">Editer <span>mon ar</span>ticle</h2>
    <h3>modifier</h3>
</hgroup>




    <form method="post" action="/article/edit/{{article._id}}" class="form container-inscr" enctype="multipart/form-data">
      
            <label for="titre" class="label">Titre</label>
            <input class="input" id="titre" type="text" name="titre" value="{{article.titre}}">

            <label for="sous_titre" class="label">sous titre</label>
            <input class="input-soustitre" id="sous_titre" type="text" name="sous_titre" value="{{article.sous_titre}}">

            <label for="contenu" class="label">Contenu</label value="{{article.contenu}}">
            <input class="input-contenu" id="contenu" type="text" name="contenu">
<br>
            {{!-- preview de l'image  --}} 
            <img class="picto-nav" src="{{article.image}}" alt="">
            
            <label for="image" class="label">image</label>
            <input class="input" id="image" type="file" name="image" value="{{article.image}}">

<br>
            <button class="btn">poster</button>
    </form>

  
</section>