<hgroup>
    <h2 class="apropos">Manager <span>les ar</span>ticles</h2>
    <h3>Il y a : {{articles.length}} articles en ligne.</h3>
</hgroup>

<ul class="container-manage-categories">
    <li> <a class="dropbtn" href="/dashboard/manage-partagedexperiences"><i class="fas fa-angle-right"></i>Partages
            d'Expériences</a></li>
    <li><a class="dropbtn" href="/dashboard/manage-conseilsdeprofessionnels"><i class="fas fa-angle-right"></i>Conseils
            de Professionnels</a></li>
    <li><a class="dropbtn" href="/dashboard/manage-fondamentaux"><i class="fas fa-angle-right"></i>Les Fondamentaux</a>
    </li>
    <li><a class="dropbtn" href="/dashboard/manage-brouillons"><i class="fas fa-angle-right"></i>Brouillons</a></li>
</ul>
<section class="container-dashboard">

    {{#each articles}}
    <table class="tabler">

        {{!-- thead fix mediac --}}
        <thead>
            <tr>
                <th class="cell">Titre</th>
                <th class="cell">Date</th>

                <th class="cell">Auteur</th>
                <th class="cell">Image</th>

                <th class="cell">Editer</th>
                <th class="cell">Supprimer</th>
            </tr>
        </thead>

        <tbody>
            {{!-- {{#unless articles.length}}
        <tr>
            <td class="cell" colspan="7">
                pas d'articles enregistrés pour le moment...
            </td>
        </tr>
        {{/unless}} --}}

            <tr>
                <td class="cell">{{this.titre}}</td>
                <td class="cell">{{this.date}}</td>

                <td class="cell">{{this.auteur}} </td>
                <td class="cell"> <img class="picto-nav" src="{{this.image}}" alt=""></td>

                <td class="cell">

                    <a href="/article/edit/{{this._id}}"><img class="picto-nav" src="/images/edit.svg" alt=""></a>
                </td>
                <td class="cell">
                    <form method="post" action="/article/delete/{{this._id}}">
                        <button><img class="picto-nav" src="/images/supr.svg" alt=""></button>



                    </form>
                </td>
            </tr>

        </tbody>
    </table>
    {{/each}}
</section>

{{!-- <script>
    window.swal(' Attention', 'La suppression est IMMEDIATE et définitive', 'warning')
</script> --}}