<hgroup>
    <h2 id="apropos">Modifier<span> un des edi</span>teurs.</h2>
   <h3><a class="dropbtn" href="/dashboard/manage-users"> <i class="fas fa-backward"></i>  Retour au gestionnaire</a></h3>
  </hgroup>

  <section class="container-dashboard">
      {{#each users}} {{#compare role "editor" operator="==="}} 
<table class="tabler">
    <thead>
        <tr >
            <th class="cell">avatar</th>
            <th class="cell">username</th>
            <th class="cell">mail</th>
            <th class="cell">role</th>
            <th class="cell">edit</th>
            <th class="cell">delete</th>
        </tr>
    </thead>
    <tbody>
      {{!-- {{#unless users.length}}
        <tr>
            <td class="cell" colspan="7">
                pas d'articles enregistrés pour le moment...
            </td>
        </tr>
        {{/unless}} --}}
        <tr >
            <td class="cell avatar">
                 <img class="picto-nav" src="{{this.avatar}}" alt="">
            </td>
            <td class="cell">{{this.username}}</td>
            <td class="cell">{{this.email}}</td>
            <td class="cell">{{this.role}}</td>
            <td class="cell">
                <a href="/users/edit/{{this._id}}"><img class="picto-nav" src="/images/edit.svg" alt=""></a>
            </td>

            <td class="cell">
                <a href="/users/edit/{{this._id}}"><img  class="picto-nav" src="/images/supr.svg" alt=""></a>
            </td>
        </tr>
     
    </tbody>
     
</table>
   {{/compare}} {{/each}}
</section>

