<hgroup>
    <h2 class="apropos">Manager <span>les Fonda</span>mentaux</h2>
    <h3><a class="dropbtn" href="/dashboard/manage-articles"> <i class="fas fa-backward"></i>  Retour au gestionnaire</a></h3>
</hgroup>


<section class="container-dashboard">

      {{#each articles}} {{#compare categorie "Les fondamentaux" operator="==="}}
    <table class="tabler">

        {{!-- thead fix mediac --}}
        <thead>
            <tr>
                <th class="cell">Titre</th>
                <th class="cell">Date</th>

                <th class="cell">Auteur</th>
                <th class="cell">Image</th>

                <th class="cell">Editer</th>
                <th class="cell">Supprimer</th>
            </tr>
        </thead>

        <tbody>
            {{!-- {{#unless articles.length}}
        <tr>
            <td class="cell" colspan="7">
                pas d'articles enregistrés pour le moment...
            </td>
        </tr>
        {{/unless}} --}}

            <tr>
                <td class="cell">{{this.titre}}</td>
                <td class="cell">{{this.date}}</td>

                <td class="cell">{{this.auteur}} </td>
                <td class="cell"> <img class="picto-nav" src="{{this.image}}" alt=""></td>

                <td class="cell">

                    <a href="/article/edit/{{this._id}}"><img class="picto-nav" src="/images/edit.svg" alt=""></a>
                </td>
                <td class="cell">
                    <form method="post" action="/article/delete/{{this._id}}">
                        <button><img class="picto-nav" src="/images/supr.svg" alt=""></button>



                    </form>
                </td>
            </tr>

        </tbody>
    </table>
  {{/compare}}  {{/each}}
</section>

{{!-- <script>
    window.swal(' Attention', 'La suppression est IMMEDIATE et définitive', 'warning')
</script> --}}