
  <hgroup>
    <h2 id="apropos">Modifier<span> un des utilisa</span>teurs.</h2>
   <h3>Il y a : {{users.length}} utilisateurs inscrits.</h3>
  </hgroup>

<ul class="container-manage-categories">
    <li><a class="dropbtn" href="/dashboard/manage-editeurs"><i class="fas fa-angle-right"></i>Les Editeurs</a></li>
    <li><a class="dropbtn" href="/dashboard/manage-utilisateurs"><i class="fas fa-angle-right"></i>Les Utilisateurs</a></li>
   
</ul>
  <section class="container-dashboard">
     {{#each users}}   
<table class="tabler">
    <thead>
        <tr >
            <th class="cell">Avatar</th>
            <th class="cell">Username</th>
            <th class="cell">E-mail</th>
            <th class="cell">Rôle</th>
            <th class="cell">Editer</th>
            <th class="cell">Supprimer</th>
        </tr>
    </thead>
    <tbody>
      {{!-- {{#unless users.length}}
        <tr>
            <td class="cell" colspan="7">
                pas d'articles enregistrés pour le moment...
            </td>
        </tr>
        {{/unless}} --}}
        <tr >
            <td class="cell avatar">
                 <img class="picto-nav" src="{{this.avatar}}" alt="">
            </td>
            <td class="cell">{{this.username}}</td>
            <td class="cell">{{this.email}}</td>
            <td class="cell">{{this.role}}</td>
            <td class="cell">
                <a href="/users/edit/{{this._id}}"><img class="picto-nav" src="/images/edit.svg" alt=""></a>
            </td>

            <td class="cell">
                <a href="/users/edit/{{this._id}}"><img  class="picto-nav" src="/images/supr.svg" alt=""></a>
            </td>
        </tr>
     
    </tbody>
     
</table>
  {{/each}}
</section>

