

    <section class="deuxieme">
   
        <hgroup>
            <h2 id="apropos">{{article.titre}}</h2>
            <h3> <span>{{article.sous_titre}}</span></h3>
        </hgroup>

        <div class="container">
            <figure class="blog"><img itemprop="image" class="artblog" src="{{article.image}}" alt="">
                <figcaption> <span itemprop="date" class="date">{{article.date}}</span></figcaption>
            </figure>

           <div class="para"> <p class="ptexte" id="ptexte">{{article.contenu}}
                </p>
                <p class="pauteur"><b>{{article.categorie}} de :</b>  {{article.auteur}} <b> <br> Edité par: </b>{{article.redacteurs.username}} </p>
            </div>
        </div>


    </section>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v8.0" nonce="cfIJrNzd"></script>
<div class="fb-comments" data-href="http://localhost:3000/art/{{article.id}}" data-numposts="10" data-width=""></div>
