<section class="contain">
  <hgroup>
    {{!-- <h2 id="apropos">Mon Profile.</h2> --}}
    <h2> Bienve<span>nue {{currentUser.username}}</span></h2> <img class="picto" src="{{currentUser.avatar}}" alt="">
  </hgroup>

<section class="container">
  

    <form method="post" action="/profile/edit/infos/{{currentUser._id}}" class="form" enctype="multipart/form-data">

    <h3 class="title">Mettre à jour votre profil</h3>
    <label for="input-username" class="label">username</label>
    <input id="input-username" type="text" class="label" value="{{currentUser.username}}" name="username">
    <label for="input-email" class="label">email</label>
    <input id="input-email" type="email" class="label" value="{{currentUser.email}}" name="email">
    <label for="input-avatar" class="is-clickable">changer d'avatar</label>
    <input id="input-avatar" type="file" class="label" name="avatar">
    <button class="btn label" >ok</button>
</form>
</section>

<section class="container-inscr">
<form method="post" action="/profile/edit/password/{{user._id}}" class="form">
    <h3 class="title">Mettre à jour votre mdp</h3>

    <label for="input-old-password" class="label">ancien mot de passe</label>
    <input id="input-old-password" type="password" class="label" name="oldPassword">
    <label for="input-password" class="label">nouveau mot de passe</label>
    <input id="input-password" type="password" class="label" name="password">
    <button class="btn label">ok</button>
</form>
<br>
<p><i>En conformité avec le Règlement général sur la protection des données vous pouvez supprimer votre compte</i> </p>

 <form method="post" action="/users/delete/{{currentUser._id}}">  <button ><img class="picto-nav" src="/images/supr.svg" alt=""></button></form>
<p><u>(Attention cette action est définitive)</u></p>
</section> 


 </section>
